.App {
  background: url('https://img.freepik.com/free-photo/3d-background-with-white-cubes_23-2150473011.jpg?w=1380&t=st=1690184805~exp=1690185405~hmac=9bccf87a73acd0b4e03a7b2e01a6a2e9243d7809befe5bf1e20e1db21996726a') no-repeat center;
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}